
#timer{
    margin-left: 20%;
    margin-right: 20%;
    background-color:#4FAA4F;
    height: auto;
    padding: 5%;
    text-align: center; 
    
}
#start{
    background-color: blue;
    color:black;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#pause{
    background-color: yellow;
    color:black;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#minutes{
    height: 150px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 100px;
    
}
#seconds{
    height: 150px;
    width: 100px;
    color: white;
    background-color: black;
    margin: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 100px;
    display:  inline-block;
    text-justify: auto;
    
}